[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-rest-framework = "*"
pymongo = "*"
bcrypt = "*"
django-cors-headers = "*"
jsonschema = "*"
more-itertools = "*"
ipython = "*"
requests = "*"

[requires]
python_version = "3.8"
